body{
 margin: 0;
 padding: 0;
 box-sizing: border-box;  
 display: flex; 
 justify-content: center;
}

.containerperso{
    width: 1400px;
}

.containerperso>.colornav{
    background-color: transparent!important;
}


.test{
    display: flex;
    justify-content: end;
}

.taille{
    justify-content: end;
}

.titre{
    color:  #243e63 !important;
    font-family: 'Inter', sans-serif;
    font-weight: bold !important;
    font-size: 30px !important;
}

.marg{
    margin: 0px 15px;
    display: flex;
    justify-content: center;
}

.margred{
    display: flex;
    justify-content: center;
}

.margend{
    margin: 0px 35px;
}

.inscription{
    background-color:#6415ff;
    font-family: 'Inter', sans-serif;
    font-weight: bold !important;
    color:  white !important;
    font-size: 15px !important;
    width: 125px;
    text-align: center;
    text-justify: center;
    border-radius: 5px;
}

.test1{
    color:  #243e63 !important;
    font-family: 'Inter', sans-serif;
    font-weight: bold !important;
    font-size: 18px !important;
}

.test1:hover{
    color: #6415ff !important;
    border-bottom: 2px solid #6415ff;
    height: 41px;
}

/* main */

.containersection{
    display: flex;
    margin-top: 45px;
}

.containtertext{
    width: 50%;
    padding: 30px;
    margin-top: 45px;
}

.containerimg{
    width: 50%;
    position: relative;
}

.titre1{
    color:  #243e63 ;
    font-family: 'Inter', sans-serif;
    font-weight: bold ;
    font-size: 60px ;
    width: 650px;
}

.titre12{
    color:  #243e63 ;
    font-family: 'Inter', sans-serif;
    font-weight: bold ;
    font-size: 60px ;
    width: 650px;
}

.titre2{
    color:  white ;
    background-color:#6415ff;
    font-family: 'Inter', sans-serif;
    font-weight: bold ;
    font-size: 60px ;
    width: 530px;
    transform: skewX(-15deg);
    text-align: center;
    text-justify: center;
}

.psectiontext{
    font-size: 15px;
    color:  #243e63;
    font-family: 'Inter', sans-serif;
    margin-top: 25px;
}

.containerboutonsectiontext{
    display: flex;
    margin-top: 25px;
    width: 100%;
}

.boutonsectiontext{
    background-color: #6415ff;
    border: none;
    height: 50px;
    width: 250px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold ;
    border-radius: 5px;
    text-align: center;
    text-justify: center;
}

.rencontrer{
    display: flex;
    margin: 0px 15px;
    margin-left: 50px;
}

.rencontrer>span{
    width: 180px;
    margin: 0px 20px;
    text-justify: center;
}

.item{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 336px;
    left: 541px;
    z-index: -1;
    color: #243e63;
}


.img1{
    border-radius: 30px;
    width: 600px;
    height: 450px;
    
}

.vid1{
    width: 700px;
    display: none;
    height: 470px;
}


.prencontre{
    width: 250px;
    text-justify: center;
    margin-top: 9px;
    margin-left: 16px;
    font-size: 19px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold ;
    color: #243e63;
}

.imgtext{
    width: 50px;
    height: 50px;
}

.containtertext2{
    margin-left: 100px;
}

.containersection2{
    display: flex;
    margin-top: 250px;
    margin-bottom: 250px;
    position: relative;
}

.item2{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 361px;
    left: 220px;
    z-index: -1;
}
.containerimg2{
    width: 50%;
    position: relative;
}

.titre22{
    color: white ;
    background-color: #6415ff;
    font-family: 'Inter', sans-serif;
    font-weight: bold ;
    font-size: 45px ;
    width: 430px;
    transform: skewX(-15deg);
    text-align: center;
}



.ptitre{
    width: 250px;
    text-justify: center;
    margin-top: 9px;
    font-size: 19px;
    color: #6415ff;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.boutonsectiontext2{
    background-color: #6415ff;
    border: none;
    height: 50px;
    width: 250px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold ;
    border-radius: 5px;
    text-align: center;
    text-justify: center;
    
}

.commande{
    justify-content: center;
    align-items: center;
    display: none;
    margin-top: 150px;
}

.h3commande{
    color: green;
}
.ptitre{
    width: 300px;
    text-align: center;
}

.containerimg{
    width: 100%;
    display: flex;
    justify-content: center;
}







@media screen and (max-width: 1400px) {

    
    .containerperso{
        width: 100%;
    }
    .containersection{
       display: block;
    }
    .containtertext{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .item{
        display: none;
    }
    .containerimg{
        width: 100%;
        display: flex;
        justify-content: center;
    }
   
    .titre2{
        font-size: 45px;
        width: 460px;
    }

    .titre1{
        font-size: 50px;
        display: flex;
        justify-content: center;
    }
    .titre12{
        display: flex;
        justify-content: center;
    }

    .psectiontext{
        width: 600px;
        text-align: center;
    }

    .item2{
       display: none;
    }

    .containerboutonsectiontext{
        display: flex;
    margin-top: 25px;
    width: 100%;
    justify-content: center;
    }

    .containersection2{
        display: flex;
        flex-direction: column-reverse;
    }

    .containtertext2{
        display: flex;
        flex-direction: column;
        margin: 0px;
        justify-content: center;
        align-items: center;
    }
    .img1{
        display: flex;
        align-items: center;
        margin-top: 25px;
    }

    .containerimg2{
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }
}
  @media screen and (max-width: 700px) {

    .containtertext2{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0px;
        margin-bottom: 15px;
       
    }
    .titre22{
        font-size: 31px;
        width: 280px;
    }

    .titre12{
        font-size: 29px;
        margin-left: 45px;
        display: flex;
        justify-content: center;
        width: 280px;
    }

    .rencontrer{
        margin-left: 0px;
    }

    .commande{
        display: none;
        width: 370px;
        text-align: center;
        margin-top: 50px;
    }
    
    .h3commande{
        color: green;
        margin-left: 16px;
    }

    .psectiontext{
        width: 300px;
    }


    .prencontre{
        font-size: 10px;
    }
    .containerimg2{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .img1{
        width: 300px;
        height: 200px;
    }

    .titre1{
        width: 310px;
        font-size: 29px;
     
    }

    .containtertext{
        padding: 0;
    }
    .vid1{
        width: 300px;
        display: none;
        height: 200px;
    }
    .containersection2{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 70px;
     }
     .containerboutonsectiontext{
        width: 300px;
    }
    .boutonsectiontext{
        width: 180px;
        font-size: 8px;
        height: 30px;
        width: 50%;
        margin-right: 10px;
    }
    .rencontrer{
        width: 180px;
        width: 50%;
        margin-left: 5px;
    }
    .psectiontext2{
        width: 600px;
        text-align: center;
    }
    .imgtext{
        width: 30px;
        height: 30px;
    }
    .prencontre{
        font-size: 11px;
        margin-top: 8px;
        margin-left: 5px;
        text-decoration: none;
        font-family: 'Inter', sans-serif;
        font-weight: bold ;
        color: #243e63;
    }
    .titre2{
        font-size: 31px;
        width: 280px;
    }

  }

 